
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <div style="text-align:center"> 
        <h1 class="display-1"> Bienvenido al Sistema de Pedido de Libros </h1>
        @Html.ActionLink("Seleccionar un tipo de libro","libro")

    </div>
</body>
</html>
