
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/scripts/Styles/main.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Registro de Ventas</title>
</head>
<body>
    <div class="container">
        <div class="row"> 
            <div class="col-12">
                    <h1 class="display-1 text-center text-capitalize"> Registro de Ventas </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table>
                    <thead>
                        <tr>
                            <th scope="col"> Codigo </th>
                            <th scope="col"> Puesto </th>
                            <th scope="col"> Nombre </th>
                            <th scope="col"> Salario Base </th>
                        </tr>
                        </thead>
                    <tbody>
                        <tr>
                            <th scope="row">  </th>
                            <th scope="row">  </th>
                            <th scope="row">  </th>
                            <th scope="row">  </th>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</body>
</html>
