
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body style="text-align:center;background-color:black;color:white   ">
    <div> 
        <h1>Libreria El Cinco Menos</h1>
        <p>Ingresar Datos</p>
        <p>@Html.ActionLink("Datos", "Ingresar")</p>
        <p></p>
        <p><img style="margin: 0px auto; display: block" src="~/Images/images.jpg" /></p>
    </div>
</body>
</html>
