@model MVC_Ventas.Models.Workers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/scripts/Styles/main.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Registro de Ventas</title>
</head>
<body>
  <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4 text-center"> @Html.ActionLink("Ingresar","tabla") </h1>
                </div>
            </div>
      </div>
</body>
</html>
